//Colors
$green: #4dad5bf5;
$red: #e3350de0;
$blue: #30A7D7;
$blueice: #96C7E9;
$yellow: #E6BC2F;
$grey: #919191;
$purple: #C367B8;
$purpledark: #8B4B84;
$white: #FFFFFF;
$yellowgreen : #A1C618;
$ground: #C3A007;
$pink: #DBADD3;
$brown: #9F6711;
$fuchsia: #FA57FF;
$orange: #E58C55;
$dragon: #3B4FF4;